body,
div,
ul,
li,
p,
h3,
h4,
h5,
h6 {
	font-family: Lato, sans-serif;
	font-weight: 400;
	transition: all ease-in-out 0.5s;
}

body {
	min-width: 600px;
}

h1,
h2 {
	font-family: Oxygen, sans-serif;
	font-weight: 300;
	transition: all ease-in-out 0.5s;
}

h2,
h3 {
	padding: 10px 0;
}

h1 {
	font-size: 40px;
	color: #f5a623;
	line-height: 48px;
	display: inline;
}

h2 {
	margin: 20px 0 10px;
	font-size: 24px;
	color: #888;
	line-height: 30px;
	border-bottom: 1px solid #999;
}

h3 {
	margin: 0;
	font-style: italic;
	font-size: 20px;
	color: #000;
	line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

p {
	font-size: 16px;
	color: #333;
	line-height: 21px;
}

a {
	color: #1199c3;
	text-decoration: none;
	margin-top: 10px;
	display: block;
}

ul {
	list-style-type: none;
}

img {
	padding: 10px;
}

span {
	padding: 5px;
}

.container {
	min-width: 360px;
	transition: all ease-in-out 0.5s;
}

.standout-black {
	background-color: black;
	border: none;
	border-radius: 10px;
}

.header-role {
	color: white;
	font-size: 24px;
	margin-left: 15px;
}

.education-entry,
.work-entry,
.project-entry {
	padding: 0 2%;
}

.date-text {
	font-style: italic;
	font-size: 16px;
	color: #999;
	line-height: 18px;
 }

.location-text {
	font-style: italic;
	font-size: 16px;
	color: #999;
	line-height: 18px;
}

.description-text {
	max-width: 80%;
}

.welcome-message {
	font-style: italic;
	font-size: 18px;
	color: #f3f3f3;
	line-height: 28px;
}

#skills-h3 {
	color: #f5ae23;
	display: none;
}

.orange {
	background-color: #f5ae23;
}

.orange-text {
	color: #f5ae23;
}

.white-text {
	font-weight: bold;
	color: #fff;
}

.gray {
	background-color: #f3f3f3;
	padding-bottom: 10px;
	clear:both;
}

.dark-gray {
	background-color: #4a4a4a;
}

.flex-box {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
}

.biopic {
	float: left;
	padding: 10px;
	width: 150px;
	display: none;
	transition: all ease-in-out 0.5s;
}

.nav>li>a {
	position: relative;
	padding: 8px 10px;
}

#myTabs {
	font-size: 14px;
	transition: all ease-in-out 0.5s;
}

#header {
	background-image: url("../images/header-bgnd-lg.jpg");
	background-color: #484848;
	padding: 15px;
	border: none;
	border-radius: 0 0 10px 10px;
	transition: all ease-in-out 0.5s;
}

#map {
	display: block;
	height: 100%;
	margin: 0 5%;
}

#mapDiv {
	height: 500px;
	width: 100%;
	padding-bottom: 5%;
	overflow: hidden;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 750px) {
  .welcome-message {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
	h2 {
		font-size: 30px;
		line-height: 34px;
	}

	#skills-h3 {
		display: block;
	}

	#myTabs {
		font-size: 16px;
	}

	.biopic {
		display: block;
		width: 175px;
	}
}

@media only screen and (min-width: 992px) {
	#myTabs {
		font-size: 18px;
	}

	.biopic {
		width: 200px;
	}
}
