
body {
	font-size: 16px;
	margin-bottom: 20px;
}


h1,
h2 {
  font-family: Oxygen, sans-serif;
  font-weight: 300;
}

.row    {
    max-width: 1120px;
}

.header-role {
	color: white;
	font-size: 24px;
	margin-left: 15px;
}

.flex-box {
	background-color: black;
	border: none;
	border-radius: 10px;
}
@media only screen and (min-width: 1200px) {
	.container {
		width: 1120px;
	}
}
