
body {
	font-size: 16px;
	margin-bottom: 20px;
}


h1,
h2 {
  font-family: Oxygen, sans-serif;
  font-weight: 300;
}

.container {
	min-width: 360px;
	transition: width 0.5s;
}

.row    {
    max-width: 1120px;
}

.header-role {
	color: white;
	font-size: 24px;
	margin-left: 15px;
}

.description-text {
	max-width: 80%;
}

.standout-black {
	background-color: black;
	border: none;
	border-radius: 10px;
}

.work-entry,
.education-entry {
	width: 100%;
}

@media (min-width: 992px) {
#header {
  background-image: url("../images/header-bgnd-md.jpg");
}

@media (min-width: 1200px) {
#header {
  background-image: url("../images/header-bgnd-lg.jpg");
}
